/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   #kotakScan { margin-top: 17%; width: 85%; }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   #kotakScan { margin-top: 15%; width: 85%; }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   #kotakScan { margin-top: 11.3%; width: 80%; }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   #kotakScan { margin-top: 8.5%; width: 75; }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   #kotakScan { margin-top: 7.5%; width: 70%; }
}