<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Menu Utama | Absensi Berbasis Scanner</title>
   <script src="../../js/jquery.min.js"></script>
   <script src="../../js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>

<body>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- Judul -->
      <a class="navbar-brand" href="#">Absensi</a>
      <!-- Button untuk di hp -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <!-- sebelah kiri -->
         <ul class="navbar-nav mr-auto">
            <li class="nav-item">
               <a class="nav-link" href="#">Beranda</a>
            </li>
            <li class="nav-item active">
               <a class="nav-link" href="#">Mulai Absen</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#">Riwayat Absen</a>
            </li>
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Rekap Absen
               </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Preview</a>
                  <!-- <div class="dropdown-divider"></div> -->
                  <a class="dropdown-item" href="#">XLSX</a>
               </div>
            </li>
         </ul>
         <!-- Sebelah kanan -->
         <div class="form-inline my-2 my-lg-0">
            <span class="nav-link disabled" href="#">[Nama_Guru]</span>
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Log Out</button>
         </div>
      </div>
   </nav>
</body>

</html>